<h1>New Friend</h1>

<div class="row my-3 d-flex ">
    <div class=" col-sm-12 col-md-6">
        <%= render 'form', friend: @friend %>
        <%= link_to 'Back', friends_path,  class:"btn btn-dark btn-lg col-md-1"%>
    </div>
</div>
