<div class="header d-flex justify-content-between">
    <div class="me-auto p-2"><%= image_tag "netflix/netflix.svg", draggable:"false" %></div>
</div>

<div class="mainlogin">
    <div class="login_body">
        <div class="panellogin">
            <h2>Entrar</h2>
            
            <form>
                <div class="form-floating mb-3">
                    <input required type="email" placeholder="Email ou número de telefone">
                </div>

                <div class="form-floating mb-3">
                    <input required type="password" placeholder="Senha">
                </div>

                <div class="pt-4">
                    <button class="">
                        Entrar
                    </button>
                </div>
            </form>

            <div class="support">
                <div class="remember">
                    <span><input type="checkbox" style="margin: 0;padding: 0; height: 13px;"></span>
                    <span>Lembre-se de mim</span>
                </div>
                <div class="help">
                    <%= link_to 'Precisa de ajuda?', netflix_loginhelp_path %>
                </div>
            </div>

            <div class="login_footer">

                <div class="sign_up mt-5">
                    <p>Novo por aqui? <a href="#">Assine agora.</a></p>
                </div>

                <div class="terms">
                    <p>Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a href="#">Saiba mais</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="gradient"></div>
</div>
    