<%= render 'layouts/animation' %>
<div class=" ">
    <div class="container border border-white border-5 p-3 maincard mb-5 ">
        <div class="container d-flex">
            <div class="mx-auto flex-fill">
                <div class="d-grid gap-2 col-7 mx-auto ">
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://www.instagram.com/_carmkk/" role="button">instagram <i class="fa-brands fa-instagram"></i></a>
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://www.linkedin.com/in/joão-vitor-042b031b2/" role="button">Linkedin <i class="fa-brands fa-linkedin"></i></a>
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://mzombe.itch.io" role="button">itch.io <i class="fa-brands fa-itch-io"></i></a>
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://github.com/mzombe" role="button">GitHub <i class="fa-brands fa-github"></i></a>
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://sketchfab.com/mzombe10" role="button">SketchFab <i class="fa-solid fa-cube"></i></a>
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://www.artstation.com/joaocarmona" role="button">ArtStation <i class="fa-brands fa-artstation"></i></a>
                    <a class="btn btn-primary rounded-4" target="_blank" href="https://twitter.com/CarmonouJoao" role="button">Twitter <i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="py-4 ">
                    <%= image_tag "cv.png", height: 300, class:"img-fluid" %>
                </div>
            </div>
        </div>
    </div>
</div>
