// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.darkcolor{
    color: rgb(255,255,255);
    text-align: center;
}
.link{
    text-decoration: none;
}
body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
.maincard{
    background-image: url("bg_card.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 767px;
}

@media (max-width: 990px) {
    .maincard{
        height: 100%;
    }
    #box{
        display: none;
    }
}

.music{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 400px;
    height: 150px;
}

.music .bar{
    width: 12px;
    height: 2px;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    animation: up_down 1.5s ease-in-out
    infinite;
}


#app{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes up_down{
    0%, 100%{
        height: 2px;
    }

    50%{
        height: 80px;
    }
}

.music .bar:nth-child(1), .music 
.bar:nth-child(10){
    background-color: purple;
    animation-delay: 1s;
}
.music .bar:nth-child(2), .music 
.bar:nth-child(9){
    background-color:blueviolet;
    animation-delay: 0.8s;
}
.music .bar:nth-child(3), .music 
.bar:nth-child(8){
    background-color:crimson;
    animation-delay: 0.6s;
}
.music .bar:nth-child(4), .music 
.bar:nth-child(7){
    background-color:deeppink;
    animation-delay: 0.4s;
}
.music .bar:nth-child(5), .music 
.bar:nth-child(6){
    background-color:gold;
    animation-delay: 0.2s;
}

.skills-wrapper{display: flex;}

.skill{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 20px black, -5px -5px 20px black;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
}

.skill:not(:last-child){margin-right: 3rem;}

.skill::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
}

.content{
    font-size: 20px;
    z-index: 1;
    text-align: center;
    font-family: Arial, sans-serif;
}

.content span{display: block;}

//about
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:wght@300&display=swap');


.navbar,
.titulos {
    font-family: 'Acme', sans-serif;
}


.cor__roxa {
    background-color: rgb(27, 11, 53);
}

.icone {
    color: #dc143c;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #dc143c !important;
}

/* carousel */
.carousel-inner,
.carousel-item {
    max-height: 80vh;
}

textarea {
    resize: none;
    height: 170px;
}


.footer {
    position: relative;
    height: 60vh;
    background-color: rgb(27, 11, 53);
}


/*---------------------------------------------------- nuvens------------------------------------------------------- */
.custom-shape-divider-top-1634222718 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1634222718 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1634222718 .shape-fill {
    fill: #F4F4F4;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1634222718 svg {
        width: calc(109% + 1.3px);
        height: 92px;
    }
}
/*--------------------------------------------------- fim nuvens--------------------------------------------------- */