// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.darkcolor{
    color: rgb(255,255,255);
    background-color: rgb(66, 70, 76);
    text-align: center;
}
.link{
    text-decoration: none;
}
// esta sendo usado na list de show