
  body {
    font-family: sans-serif;
    color: white;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .containerinter {
    max-width: 1130px;
    margin: 0 auto;
  }
  
  .header {
    position: absolute;
    z-index: 100;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
  }

  .header a {
    display: inline-block;
    background: #e50914;
    color: white;
    align-content: center;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .main {
    padding-top: 4rem;
    height: 785px;
    background: url("netflix/bg.jpg") center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
  }
  
  .main-child {
    z-index: 1;
    display: grid;
    justify-items: center;
  }
  
  .main h1 {
    font-size: 64px;
    max-width: 510px;
  }
  
  .main span {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .form-cta {
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .form-cta input {
    padding: 20px 10px;
    font-size: 18px;
    font-family: sans-serif;
  }
  
  .form-cta button {
    background: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .form-cta button::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("netflix/seta.svg");
    margin-left: 20px;
  }
  
  .form-cta button:hover {
    background: #f40612;
  }
  
  .main p {
    font-size: 19px;
  }
  
  .gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .section, .section-flooter {
    background: black;
    padding: 3rem 0;
    border-top: 8px solid #222;
  }
  
  .section h1 {
    font-size: 50px;
    margin-bottom: 16px;
  }
  
  .section p {
    font-size: 26px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
  }
  
  .img-tv {
    position: relative;
  }
  
  .img-tv img {
    position: relative;
    z-index: 1;
  }
  
  .video-tv {
    position: absolute;
    width: 400px;
    top: 80px;
    left: 70px;
  }
  
  .download .grid > div:first-child {
    order: 2;
  }
  
  .download .img-tv {
    order: 1;
  }
  
  .device-pile .video-tv {
    width: 340px;
    top: 45px;
    left: 100px;
  }
  
  .footer .form-cta {
    margin-top: 0;
  }
  
  .footer {
    padding: 4rem 0 2rem 0;
    // border-top: 8px solid #222;
    background: black;
    text-align: center;
    display: grid;
    justify-items: center;
    height: 50%;
  }
  
  .footer p {
    margin-top: 2rem;
    color: #757575;
    font-size: 13px;
  }
  .footer i {
    margin-bottom: 2rem;
    font-size: 24px;
  }
  
  .accordion-item {
    margin-bottom: 0.5rem;
    background-color: #303030;
    border-color: #303030;
    color: white;
  }

  .accordion-button {
    background-color: #303030;
    border-color: #303030;
    color: white;
    text-decoration: none;
    border: none;
  }

  .accordion-body {
    font-size: 26px;
  }

  .section-flooter h1{
    text-align: center;
    margin-bottom: 1em;
    font-size: 55px;
  }


.logo img {
    height: 45px;
    width: 167px;
}

.login_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    width: 450px;
    height: 600px;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login_body input {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: #444;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    background-color: #fc1722;
    cursor: pointer;
}

.support {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #737373;
}

.help a:hover {
    text-decoration: underline;
}

.sign_up {
    color: #737373;
    font-size: 16px;
}

.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

.mainlogin {
  padding: 15vh;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: cover;
  background-repeat: no-repeat;
  background: url("netflix/bg.jpg") ;
}

  
@media (max-width: 990px) {
  .form-cta {
    grid-template-columns: 150px 150px;
  }
  
  .video-tv {
    display: none;
  }
  
}

@media (max-width: 500px) {
  .login_body {
    width: 85vw;
    
  }
  .panellogin {
    margin-left: -40px;
    margin-right: -40px;
  }
}